@model ASP_PageModule.ViewModels.Page.EditPageViewModel

<form asp-action="EditPage" asp-controller="Page" method="post">
    <div>
        <input type="hidden" asp-for="PageId" value="@Model.PageId" />
    </div>
    <div>
        <label asp-for="PageTitle"></label><br />
        <input type="text" asp-for="PageTitle" width="300" />
        @Html.ValidationMessageFor(p => p.PageTitle)<br />
    </div>
    <div>
        <label asp-for="PageBody"></label><br />
        <input type="button" value="Жирный" onclick="BBcode_1()">
        <input type="button" value="Курсив" onclick="BBcode_2()">
        <input type="button" value="Подчеркнутый" onclick="BBcode_3()">
        <br />
        <textarea id="textarea" asp-for="PageBody" rows="30" cols="100"></textarea>
        @Html.ValidationMessageFor(p => p.PageBody)
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_BBcodeScriptsPartial");
     }
}