@model ASP_PageModule.ViewModels.Page.ViewPageViewModel

@Html.ActionLink("Редактировать", "EditPage", "Page", new { pageId = ViewBag.PageId })

<h3>@Model.PageTitle</h3>
<p>@Html.Raw(Model.PageBody)</p>